#birdquizz-media-page-box
{
  /* background-color: black; */
  /* height: 50px; */
}

#title
{
  font-size: 200%;
}

#score,
#score-label
{
  text-align: center;
  width: 50px;
}

#start,
#stop
{
  width: 50px;
}
