#birdquizz-media-page-box
{
  /* background-color: black; */
  /* height: 50px; */
}

#title
{
  font-size: 200%;
}

#score,
#score-label
{
  text-align: center;
  width: 50px;
}

#start,
#stop
{
  width: 50px;
}
label.artistName
{
  font-weight: bold;
}
label.titleName
{
  font-style: italic;
}
image.answerImg
{
  max-height: 16px;
  max-width: 16px;
}
